 <app-invoice-form (invoiceAddedEvent) = "addInvoice($event)"></app-invoice-form>
<div>
  <h3>Invoices list:</h3>
  <ul class="list-group invoices">
    <app-spinner [visible] = "isLoading"> </app-spinner>
    <li class="list-group-item" *ngFor = "let invoice of invoices" 
    [class.active]="currentInvoice == invoice"
        (click)="select(invoice)" >
        <app-invoice [invoice] = invoice</app-invoice>              
         </li>
   </ul>
 </div>